*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "amatic" ;
    src: url("../fonts/Amatic_SC/AmaticSC-Bold.ttf");
}
@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf") format('woff2');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: "Roboto";
}
h1,h2,h3,h4{
    font-family: "amatic" ,sans-serif;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 5vh 6vw;
}
header h2 {
    font-family: none;
}
header h2 span{
    color: #d53535;
}
nav{
    display: flex;
    gap: 3vw;
}
nav > a{
    color: gray;
    text-decoration: none;
}
nav a:hover {
    border-bottom:#d53535 2px solid;
}
.btn-booka{
    padding: 1.9vh 1.7vw;
    border: none;
    border-radius: 20px;
    background-color: #d53535;
    color: white;
    cursor: pointer;
}
.btn-booka:hover{
    background-color: hsl(0, 66%, 55%);
}
#list{
    display: none;
}
/* ? hero section */
.hero-section{
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    padding: 5vh 6vw;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.title h1 {
    width: 70%;
    font-size: 50px;
}
.title p{
    width: 80%;
    line-height: 6vh;
    font-size: 20px;
    color: #171212a8;
}
.btns{
    padding-top: 6vh;
    display: flex;
    gap: 2vw;
}
.btn-video{
    display: flex;
    width: 30%;
    align-items: center;
    background-color:transparent;
    border: none;
    cursor: pointer;
}
.btn-video > p{
    font-size: 15px;
    font-weight: 550;
    color: black;
}
.btn-video > i{
    font-size: 30px;
    color: #d53535;
}
.btn-video > p:hover{
    color: #d53535;
}
/* ^ carousel */
.video-carousel-container {
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0px;
    z-index: 10;
    background: #000000db;
}

.video-carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.video-slide {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.video-slide img {
    width: 40%;
    height: 40%;
    object-fit: cover;
    border-radius: 10px;
    object-position: center;
}
.video-slide iframe{
    width: 80%;
    height: 90vh;
}

.video-prev,
.video-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: hsla(0, 0%, 0%, 0.5);
    color: hsl(0, 0%, 90%);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
.video-prev:hover,
.video-next:hover{
    background-color: hsla(0, 0%, 0%, 1);
    color: hsl(0, 0%, 100%);
}
.video-next i , .video-prev i {
    font-size: 20px;
}

.video-prev { left: 10px; }
.video-next { right: 10px; }

.video-close {
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 25px;
    color: hsl(0, 0%, 90%);
    cursor: pointer;
    z-index: 10;
}

.video-close:hover {
    color: hsl(0, 0%, 100%);
}

/* right side */
.image > img{
    width: 80%;
    transform: translateX(25%);
    animation: move 4s ease-in-out infinite ;
}
@keyframes move {
    0% { transform: translateY(0%);}
    50% { transform: translateY(5%);}
    100% { transform: translateY(0%);}
}

/* ? section about */
.about{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 6vh;
    padding: 5vh 6vw;
}
.about h1 span{
    color: #d53535;
}
.about .d-flex{
    display: flex;
    
}
.d-flex .left-side{
    width: 60%;
}
.d-flex .left-side img{
    width: 100%;
}
.d-flex .left-side .contact-num{
    border: solid 3px gray ;
    padding: 5vh 2vw;
    text-align: center;
}
.contact-num p{
    font-weight: 600;
}
.contact-num span{
    font-size:25px ;
    font-weight: 600;
    margin-top: 2vh;
    color: #d53535;
    
}
.d-flex .right-side{
    width: 40%;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}.d-flex .right-side span{
    color: #171212a8;
}
.d-flex .right-side .text-iconChecked{
    display: flex;
    gap: 1vw;

}
.text-iconChecked i {
    color: #d53535;
}
.click-image{
    position: relative;
}
.d-flex .right-side .click-image img{
    width: 100%;
}
.click-image i{
    position: absolute;
    top: 40%;
    right: 45%;
    font-size: 30px;
    color: #ffffff;
    background-color: #d53535;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    animation: hamza ease-in-out 1.5s infinite;
    
}
@keyframes hamza {
    0%{box-shadow: 0 0 0 0 rgba(206, 18, 18, 0.6);}
    100%{box-shadow: 0 0 0 20px rgba(206, 18, 18, 0);}
}
/* ? secound section about */
.secound-sc-about{
    background-color: #f2f2f2;
    display: flex;
    gap: 4vw;
    padding: 5vw 6vh;
}
.secound-sc-about .first-div{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    background-color: #ce1212;
    color: #ffffff;
    padding: 4vh 4vw;
    
    
}
.secound-sc-about .first-div span{
    font-size: 30px;
    font-weight: 600;
}
.secound-sc-about .first-div .btn {
    text-align: center;
}
.first-div .btn button{
    padding: 2.5vh 3.5vw;
    border: none;
    border-radius: 20px;
    background-color: #d53535;
    color: white;
    cursor: pointer;
}
.secound-sc-about .statW{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6vh;
    padding: 4vh 4vw;
    background-color: white;
}
.statW i {
    font-size: 30px;
    color: #ce1212;
    background-color: #fc70701d;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.statW i:hover{
    background-color: #ce1212;
    color: white;
    transition: ease-in-out 0.3s;
}
.statW span{
    font-size: large;
    font-weight: 550;
    width: 130%;
    text-align: center;
}
.statW p {
    width: 150%;
    text-align: center;
    color: #171212a8;
}
/* ? section statistics */
.statistics{
    background: url("../images/stats-bg.jpg") no-repeat center;
    background-size: cover;
    background-color: rgba(0,0,0,0.5); 
    background-blend-mode: overlay;
    height: 70vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4vh 0;
}
.statistics .stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}
.stats span{
    font-size: 40px;
    font-weight: 700;
}
.stats p {
    color: #dadadae6;
}
/* ? section menu */
.menu{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 4vh;
    padding: 5vh 6vw;
}
.menu p{
    color: #171212a8;
    font-size: 14px;
}
.menu h1{
    font-size: 45px;
}
.menu h1 span{
    color: #ce1212;
    
}
.d-flexMenu{
    display: flex;
    gap: 4vw;
    padding-bottom: 2vh;
}
.d-flexMenu p {
    font-size: 20px;
    position: relative;
    cursor: pointer;
}
.d-flexMenu p::before{
    content: '';
    width: 100%;
    height: 3px;
    background-color: #171212a8;
    position: absolute;
    bottom: -8px;
}
.d-flexMenu p:hover::before{
    background-color: #ce1212;
}
.menu span{
    color: #171212d5;
}
.menu h2{
    color: #ce1212;
    font-size: 50px;
}
.all-menu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    text-align: center;
}
.all-menu .card img {
    width: 50%;
    padding-bottom: 2vh;
}
.all-menu  .text{
    font-size: large;
    color: black;
}
.all-menu span{
    font-size: 14px;
    color: #171212a8;
}
.all-menu .price{
    color: #ce1212;
    font-size: x-large;
    padding-top: 1vh;
}
/* ? section TESTIMONIALS */
.testimonials{
    padding: 5vh 6vw;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    justify-items: center;
    gap: 4vh;
    background-color: #f2f2f2;
}
.testimonials p {
    font-size: 15px;
    color: #171212d5;
}
.testimonials h1{
    font-size: 45px;
}
.testimonials h1 span {
    color: #ce1212;
}


/* ^ carousel */
.carousel-container {
    width: 70%;
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}


.slide {
    min-width: 100%;
    display: flex;
    gap: 2vw;
    position: relative;
    
}
.slide .text{
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding-left: 1vw;
    
}
.slide > .text::before{
    content: '';
    width: 3px;
    height: 60%;
    top: 8px;
    position: absolute;
    left: 1px;
    background-color: #ce1212;
}
.slide .text p{
    line-height: 6vh;
    font-weight: 500;
}
.slide .text h3{
    font-weight: 400;
}
.slide .text h4{
    color: #171212a8;
    font-size: 14px;
}
.slide .text .star {
    display: flex;
    
}
.slide .text .star i{
    color: #ffc107;
}

.slide img {
    width: 40%;
    height: 40%;
    object-fit: cover;
    border-radius: 50%;

}

.indicators-grp{
    width: 100%;
    padding: 2vh 0;
    position: absolute;
    bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 10;
}
.indicator{
    width: 12px;
    height: 12px;
    background: #808080bd;
    border-radius: 50%;
    cursor: pointer;
}
.activeIndicator{
    background-color: #ce1212;
}
/* ? section parties */

.carousel-container-event {
    overflow: hidden; 
    padding: 12vh 0;
    position: relative;
}

.carouselEv {
    display: flex;
    transition: transform 0.5s ease-in-out;
    position: relative;
}

.sld {
    flex: 0 0 33.33%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    color: white;
}
.textP h3{
    font-size: 30px;
}
.textP span{
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 1vh;
    width: fit-content;
}
.textP span::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ce1212;
    bottom: 0;
}
.textP p{
    font-weight: 200;
    font-size: 15px;
    line-height: 4vh;
    color: #f2f2f2;
}

.carouselEv .slide-1 {

    background: url("../images/events-1.jpg") no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.6); 
    background-blend-mode: overlay;

}
.carouselEv .slide-2{
    background: url("../images/events-2.jpg") no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.6); 
    background-blend-mode: overlay;
}
.carouselEv .slide-3{
    background: url("../images/events-3.jpg") no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.6); 
    background-blend-mode: overlay;
}
.carouselEv .slide-4{
    background: url("../images/events-4.jpg") no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.6); 
    background-blend-mode: overlay;
}
.carouselEv .textP{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding: 4vh 4vw;
}
.carousel-container-event .carousel-indicators {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 10;
}
.carousel-indicators .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #808080bd;
    cursor: pointer;
}

.carousel-indicators .dot.active {
    background: #ce1212;
}
/* ? section chefs */
.chefs{
    padding: 5vh 6vw;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2vh;

}
.chefs  p{
    font-size: 15px;
    color: #171212d5;
}
.chefs h1 span{
    color: #ce1212;
}
.box{
    display: flex;
}
@media (max-width:992px) {
    header{
        padding: 3vh 6vh;
    }
        header nav{
        background-color: #ffffff;
        height: 80vh;
        width: 85%;
        position: fixed;
        z-index: 2;
        top: 8%;   
        left: 2%;
        border-radius: 15px;
        padding: 3vh 4vw;
        box-shadow: 0 4px 10px rgb(0, 0, 0, 0.15);
        flex-direction: column;
        gap: 2vh;
        display: none;
    }
    nav a {
        font-size: 28px;
    }
    nav a:hover {
        color: #ce1212;
        border-bottom: none;
    }
    .active{
        display: flex;
    }
    .right-side-header{
        display: flex;
        gap: 6vw;
        align-items: center;
    }
    .btn-booka{
        padding: 1vh 4vw;
    }
    #list{
        display: initial;
        font-size: 35px;
        cursor: pointer;
    }
    .bi-x{
        font-size: 55px;
    }
        /* end navbar */
    .hero-section{
        flex-direction: column-reverse;
        gap: 4vh;
    }
    .image img{
        width: 100%;
        transform: translateX(0);
    }
    .hero-section .title h1{
        width: 80%;
        padding-bottom: 2vh;
    }
    .hero-section .title p {
        width: 80%;
        line-height: normal;
    }
}


@media (max-width:480px) {
    header{
        padding: 3vh 3vw;
    }
    header nav{
        background-color: #ffffff;
        height: 80vh;
        width: 80%;
        position: fixed;
        z-index: 2;
        top: 8%;   
        left: 8%;
        border-radius: 15px;
        padding: 3vh 4vw;
        box-shadow: 0 4px 10px rgb(0, 0, 0, 0.15);
        flex-direction: column;
        gap: 2vh;
        display: none;
    }
    nav a:hover {
        color: #ce1212;
        border-bottom: none;
    }
    .active{
        display: flex;
    }
    .right-side-header{
        display: flex;
        gap: 6vw;
        align-items: center;
    }
    .btn-booka{
        padding: 1vh 4vw;
    }
    #list{
        display: initial;
        font-size: 35px;
        cursor: pointer;
    }
    .bi-x{
        font-size: 55px;
    }
    /* end navbar */
    .hero-section{
        flex-direction: column-reverse;
        gap: 4vh;
    }
    .image img{
        width: 100%;
        transform: translateX(0);
    }
    .hero-section .title p {
        width: 100%;
        line-height: normal;
    }
}

